<launch>
  <arg name="model"/>
  
  <!--roba-->
  <!-- <include file="$(find robot_convoy)/launch/real_one_robot.launch" >
    <arg name="init_pose_x" value="-0.26"/>
    <arg name="init_pose_y" value="-0.42"/>
    <arg name="robot_name"  value="roba" />
    <arg name="model" value="$(arg model)"/>
  </include> -->

  <!--robb-->
  <!-- <include file="$(find robot_convoy)/launch/real_one_robot.launch" >
    <arg name="init_pose_x" value="-0.31"/>
    <arg name="init_pose_y" value="-0.17"/>
    <arg name="robot_name"  value="robb" />
    <arg name="model" value="$(arg model)"/>
  </include> -->

  <!--robc-->
  <!-- <include file="$(find robot_convoy)/launch/real_one_robot.launch" >
    <arg name="init_pose_x" value="-0.5"/>
    <arg name="init_pose_y" value="0.08"/>
    <arg name="robot_name"  value="robc" />
    <arg name="model" value="$(arg model)"/>
  </include> -->

  <!--rafael-->
  <include file="$(find robot_convoy)/launch/real_one_robot.launch" >
    <arg name="init_pose_x" value="-0.7"/>
    <arg name="init_pose_y" value="0.32"/>
    <arg name="robot_name"  value="rafael" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- <node name="mp_roba" pkg="robot_convoy" type="real_mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="roba" />
  </node>
  <node name="mp_robb" pkg="robot_convoy" type="real_mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robb" />
  </node>
  <node name="mp_robc" pkg="robot_convoy" type="real_mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robc" />
  </node> -->
  <node name="mp_rafael" pkg="robot_convoy" type="real_mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="rafael" />
  </node>
</launch>
