<launch>
  <arg name="model"/>
  <param name="robot1_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robot1/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robot2_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robot2/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robot3_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robot3/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robot4_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robot4/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robot5_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robot5/turtlebot3_$(arg model).urdf.xacro" />

  
  <!-- BEGIN ROBOT 1-->
  <include file="$(find robot_convoy)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y -1 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="-1"/>
    <arg name="robot_name"  value="robot1" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN ROBOT 2-->
  <include file="$(find robot_convoy)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y -0.5 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="-0.5"/>
    <arg name="robot_name"  value="robot2" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN ROBOT 3-->
  <include file="$(find robot_convoy)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y 0 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="0"/>
    <arg name="robot_name"  value="robot3" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN ROBOT 4-->
  <include file="$(find robot_convoy)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y 0.5 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="0.5"/>
    <arg name="robot_name"  value="robot4" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN ROBOT 5-->
  <include file="$(find robot_convoy)/launch/one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y 1 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="1"/>
    <arg name="robot_name"  value="robot5" />
    <arg name="model" value="$(arg model)"/>
  </include>

</launch>
