<launch>
    <!-- Arguments -->
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]" />
    <arg name="map_file" default="$(find robot_convoy)/maps/stage4.yaml"/>
    <arg name="open_rviz" default="true"/>

    <!-- Map Server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robot_convoy)/worlds/turtlebot3_stage_4.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>  

    <!-- Launch Robots -->
    <include file="$(find robot_convoy)/launch/sim_robots.launch">
        <arg name="model" value="$(arg model)"/>
    </include>

    <!-- rviz -->
    <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find robot_convoy)/rviz/sim_nav.rviz"/>
    </group>
</launch>