<launch>
  <arg name="model"/>
  <!-- Shared Description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/shared/turtlebot3_$(arg model).urdf.xacro" />

  <!-- Robot-specific descriptions -->
  <param name="roba_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/roba/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robb_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robb/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robc_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robc/turtlebot3_$(arg model).urdf.xacro" />
  <param name="robd_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/robd/turtlebot3_$(arg model).urdf.xacro" />
  <param name="rafael_description" command="$(find xacro)/xacro --inorder $(find robot_convoy)/urdf/rafael/turtlebot3_$(arg model).urdf.xacro" />
  
  <!-- BEGIN ROBOT 1-->
  <include file="$(find robot_convoy)/launch/sim_one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y -1 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="-1"/>
    <arg name="robot_name"  value="roba" />
    <arg name="model" value="$(arg model)"/>
  </include>
  <node name="mp_roba" pkg="robot_convoy" type="mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="roba" />
  </node>

  <!-- BEGIN ROBOT 2-->
  <include file="$(find robot_convoy)/launch/sim_one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y -0.5 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="-0.5"/>
    <arg name="robot_name"  value="robb" />
    <arg name="model" value="$(arg model)"/>
  </include>
  <node name="mp_robb" pkg="robot_convoy" type="mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robb" />
  </node>

  <!-- BEGIN ROBOT 3-->
  <include file="$(find robot_convoy)/launch/sim_one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y 0 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="0"/>
    <arg name="robot_name"  value="robc" />
    <arg name="model" value="$(arg model)"/>
  </include>
  <node name="mp_robc" pkg="robot_convoy" type="mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robc" />
  </node>

  <!-- BEGIN ROBOT 4-->
  <include file="$(find robot_convoy)/launch/sim_one_robot.launch" >
    <arg name="init_pose" value="-x -2 -y 0.5 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-2"/>
    <arg name="init_pose_y" value="0.5"/>
    <arg name="robot_name"  value="rafael" />
    <arg name="model" value="$(arg model)"/>
  </include>
  <node name="mp_rafael" pkg="robot_convoy" type="mp.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="rafael" />
  </node>
</launch>
